[Unit]
Description=mtail tailscaled (%i)

[Service]
Type=simple
ExecStart=/usr/local/bin/mtail run --instance %i
ExecStop=/usr/local/bin/mtail down --instance %i
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
