[Unit]
Description=mtail setup (netns, routes, firewall) (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mtail setup --instance %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
